html,
button,
input,
select,
textarea {
	color: $baseFontColor;
	font-family: $fontStack;
}

body {
	background-color: $baseBodyColor;
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
}

a {
	color : $linkColor;
	text-decoration: none;
	@include transition-property(color);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-in);
	&:visited { color : $linkColorVisited; }
	&:hover { color : $linkColorHover; }
	&:focus, &:active { color : $linkColorActive; }
}

h1, h2, h3, h4, h5, h6 {}

h1, %h1{
	margin:0;
	color:$white;
	font:{
		size:60px;
		weight:300;
	}
	line-height:64px;
}

h2, %h2{
	margin:0;
	font:{
		size:24px;
		family: $fontStackAlt;
		style:italic;
		weight:400;
	}
}

h3, %h3{
	margin:0 0 12px 0;
	color:$white;
	font:{
		size:32px;
		weight:300;
	}
	line-height:36px;
}

h4, %h4{
	font:{
		size:16px;
		weight:600;
	}
	color:$colorSecondary;
}

p{
	margin-top:0;
}

img { vertical-align: middle; max-width: 100%; }

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

fieldset {
	border: 0;
	margin: 0; padding: 0;
}

textarea {
	resize: vertical;
}

// Selection
::-moz-selection {
	background: $selectionBgColor;
	text-shadow: none;
	color:$white;
}
::selection {
	background: $selectionBgColor;
	text-shadow: none;
	color:$white;
}

// Placeholder color
::-webkit-input-placeholder { /* WebKit browsers */
	color:	  $placeholderColor;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:	  $placeholderColor;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:	  $placeholderColor;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:	  $placeholderColor;
}


.icon, a.icon:before {
	font-family: 'Mono Social Icons Font';
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

a.icon:before {
	//content: attr(title);
	margin-right: 0.3em;
	font-size: 130%;
}