/* =======================================================================
Shell
========================================================================== */
.container {
	background:{
		image: image-url('bg-hero.jpg');
		repeat:no-repeat;
	}
}
