
/* =======================================================================
Header
========================================================================== */
.m-header {
}


/* =======================================================================
Top Navigation
========================================================================== */
.m-nav{
	ul{
		margin:0;
		padding:0;
		background:$black;
		text-align: center;
	}
	li{
		display:inline-block;
		margin:0 8px;
	}
	a{
		padding:0 8px;
		line-height:70px;
		font:{
			weight:600;
		}
		text-transform: uppercase;

	}
}


/* =======================================================================
Header
========================================================================== */
.m-header{
	padding:220px 0 180px;
	text-align:center;
}

/* =======================================================================
My Work
========================================================================== */
.m-work{
	position: relative;
	width: 100%;
	padding-top:20px;
	perspective: 1000px;
	perspective-origin: 50% 25%;
	@include container;
	>h3{
		@extend .visuallyhidden;
	}

	.m-project{
		@include span-columns(4,12);
		&.last{
			@include span-columns(4 omega,12);
		}
	}
	.grid{
		@include opacity(0);
	}
	&.showcase-gridview{
		.m-detail{
			z-index:900;
			transform: translateZ(-50%);
			@include opacity(0);
		}
		.grid{
			z-index:1000;
			transform: translateZ(0px);
			opacity: 1;
			pointer-events: auto;
		}
	}
	.grid{
		list-style:none;
		padding:0;
		margin:0;
		position: absolute;
		width: 100%;
		/* left: 50%;
		margin-left:- (980px / 2); */
		z-index: 900;
		top: 0;
		//opacity: 0;
		pointer-events: none;
		transform-style: preserve-3d;
		transition: all 0.5s ease;
		transform: translateZ(-350px);
	}
}





/* =======================================================================
Projects
========================================================================== */
.m-project{
	cursor:pointer;
	float:left;
	text-align:center;
	img{
		width:100%;
		margin-bottom:40px;
		@include border-radius(100%);
	}
	h4{
		margin:3px;
	}
	p{
		margin:0;
		font-size: 12px;
		text-transform:uppercase;
		letter-spacing:1px;
	}
	margin-bottom:90px;
}

.m-detail{
	z-index:1000;
	width: 100%;

	margin: 0 auto;
	position: relative;
	transition: all 0.3s ease;
	transform-style: preserve-3d;
	background:#fefefe;
	article{
		display:none;
	}
}

/* =======================================================================
About
========================================================================== */
.m-about{
	background:$black;
	color:$white;
	padding:36px 0 48px;
	.about_wrapper{
		@include container;
		margin-bottom:36px;
	}
	p{
		@include column-count(2);
		@include column-gap($gutter-width);
	}
}

.m-socials{
	margin:0;
	padding:0;
	text-align:center;
	li{
		@include inline-block;
		list-style:none;
		margin:0 10px;
	}
	a{
		color:$white;
		font-size:50px;
		&:hover{
			color:$colorSecondary;
		}
	}
}




