
/* =======================================================================
Header
========================================================================== */
.m-header {
}


/* =======================================================================
Top Navigation
========================================================================== */
.m-nav{
	ul{
		margin:0;
		padding:0;
		background:$black;
		text-align: center;
	}
	li{
		display:inline-block;
		margin:0 8px;
	}
	a{
		padding:0 8px;
		line-height:70px;
		font:{
			weight:600;
		}
		text-transform: uppercase;

	}
}


/* =======================================================================
Header
========================================================================== */
.m-header{
	padding:220px 0 200px;
	text-align:center;
}

/* =======================================================================
My Work
========================================================================== */
.m-work{
	@include container;
	>h3{
		@extend .visuallyhidden;
	}

	.m-project{
		@include span-columns(4,12);
		&.last{
			@include span-columns(4 omega,12);
		}
	}
}


/* =======================================================================
Projects
========================================================================== */
.m-project{
	text-align:center;
	img{
		width:100%;
		margin-bottom:40px;
		@include border-radius(100%);
	}
	h4{
		margin:3px;
	}
	p{
		margin:0;
		font-size: 12px;
		text-transform:uppercase;
		letter-spacing:1px;
	}
	margin-bottom:90px;
}


/* =======================================================================
Contact
========================================================================== */
.m-footer{
	>h3{
		@extend .visuallyhidden;
	}
}