
/* =======================================================================
Header
========================================================================== */
.m-header {
}


/* =======================================================================
Top Navigation
========================================================================== */
.m-nav{
	ul{
		margin:0;
		padding:0;
		background:$black;
		text-align: center;
	}
	li{
		display:inline-block;
		margin:0 8px;
	}
	a{
		padding:0 8px;
		line-height:70px;
		font:{
			weight:600;
		}
		text-transform: uppercase;

	}
}


/* =======================================================================
My Work
========================================================================== */
.m-work{
	>h3{
		@extend .visuallyhidden;
	}

	.m-project{
		float:left;
		width:33%;
	}
}


/* =======================================================================
Projects
========================================================================== */
.m-project{
}


/* =======================================================================
Contact
========================================================================== */
.m-footer{
	>h3{
		@extend .visuallyhidden;
	}
}