
//open sans bold
//open sans semibold

//open sans light

//PlayfairDisplay Italic

/* =======================================================================
Variables
========================================================================== */

// Colors
$white:					#fff;
$black:					#0c0d0f;
$greyDark:				#1c2024;
$greyLight:				#77797c;

$greenLight:			#69c773;


$colorPrimary:			$greyLight;
$colorSecondary:		$greenLight;

// Typography
$baseBodyColor:			$greyDark;
$baseFontColor:			$colorPrimary;

$linkColor:				#ff0000;
$linkColorVisited:		lighten($linkColor, 20%);
$linkColorHover:		darken($linkColor, 20%);
$linkColorActive:		darken($linkColor, 40%);

// Fonts stacks
$fontStack:				'Open Sans', sans-serif;
$fontStackAlt:			'Playfair Display', serif;
$baseFontSize:			14px;
$baseLineHeight:		1.6em;


// Highlight
$selectionBgColor:		$colorSecondary;

$placeholderColor:		$colorSecondary;







/* =======================================================================
Layout
========================================================================== */
// Grid (susy)
$total-columns:				12;
$column-width:				45px;
$gutter-width:				40px;
$grid-padding:				0;
$container-width:			980px; // 1200px -> this might be wrong... lol?
$show-grid-backgrounds:		true;